<%- include('includes/head'); %>
<main class="main auto-padding">
    <%- include('includes/hero') %>
    <%- include('includes/features') %>
    <%- include('includes/technologies') %>
</main>
<%- include('includes/footer'); %>
